
{% extends 'base.html.twig' %}

{% block title %}Mentions légales et CGU - TravelAccess{% endblock %}
{% block meta_description %}Lisez nos mentions légales et conditions générales d'utilisation pour comprendre le fonctionnement de TravelAccess et la protection de vos données.{% endblock %}


{% block body %}

<div class="container ">

    {# Fil d'ariane #}
    <nav class="mt-4" aria-label="breadcrumb" role="navigation">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a class="text-reset text-decoration-none" href="{{ path('app_home') }}">Accueil</a></li>
            <li class="breadcrumb-item active" aria-current="page">Mentions légales et CGU</li>
        </ol>
    </nav>

    {# Mentions légales et Conditions Générales d'Utilisation #}
    <h1 class="text-center my-5 fs-2">Mentions légales <br>et Conditions Générales d'Utilisation</h1>
    <div class="d-flex justify-content-center ">

        <div class="card p-sm-5 p-4 shadow rounded-4" style="max-width: 850px; width: 100%; ">

            <p class="fw-bold mb-1">1. Mentions légales</p>
            <p class="mb-4"><strong>Éditeur du site :</strong> TravelAccess<br>
            <strong>Adresse :</strong> Paris<br>
            <strong>Email :</strong> nawel.henni@hotmail.com<br>
            <strong>Téléphone :</strong> 06.00.00.00.00<br>
            <strong>SIRET :</strong> XXXXXXXXXXXXXX<br>
            <strong>Responsable de publication :</strong> John Doe<br>
            <strong>Hébergeur :</strong> John Doe</p>

            <p class="fw-bold mb-1">2. Objet</p>
            <p class="mb-4">Les présentes Conditions Générales d'Utilisation (CGU) définissent les règles d'utilisation du site <strong>TravelAccess</strong> (ci-après « le Site »).</p>

            <p class="fw-bold mb-1">3. Acceptation des CGU</p>
            <p class="mb-4">En accédant au Site, vous acceptez sans réserve les présentes CGU.</p>

            <p class="fw-bold mb-1">4. Accès au site</p>
            <p class="mb-4">Le Site est accessible gratuitement à tout utilisateur disposant d'un accès à Internet. Les frais liés à la connexion restent à votre charge.</p>

            <p class="fw-bold mb-1">5. Propriété intellectuelle</p>
            <p class="mb-4">Tous les contenus du Site (textes, images, logos, etc.) sont protégés par le droit d'auteur. Toute reproduction ou utilisation non autorisée est interdite.</p>

            <p class="fw-bold mb-1">6. Responsabilités</p>
            <p class="mb-4">L'éditeur ne peut être tenu responsable en cas de mauvaise utilisation du Site ou d'interruption temporaire.</p>

            <p class="fw-bold mb-1">7. Données personnelles</p>
            <p class="mb-4">La collecte et le traitement des données personnelles sont décrits dans la <a href="{{ path('app_mentions') }}">Politique de Confidentialité</a>.</p>

            <p class="fw-bold mb-1">8. Droit applicable</p>
            <p class="mb-4">Les présentes CGU sont régies par le droit français. Tout litige sera soumis aux tribunaux compétents.</p>

        </div>
    </div>
</div>

{% endblock %}