{% extends 'base.html.twig' %}

{% block title %}Accès interdit — TravelAccess{% endblock %}

{% block body %}

<div class="d-flex flex-column align-items-center justify-content-center text-center p-4">
    <h1 class="display-1 fw-bold text-clear ">403</h1>
    <p class="lead text-dark mb-4">
        Désolé, vous n'avez pas l'autorisation d'accéder à cette page.<br>
        Contactez un administrateur si vous pensez qu'il s'agit d'une erreur.
    </p>

    <div class="d-flex gap-3">
        <a href="{{ path('app_home') }}" class="btn btn-dark shadow"><i class="bi bi-house-door-fill"></i> Retour à l'accueil</a>
    </div>
</div>

{% endblock %}
