{% extends 'base.html.twig' %}

{% block title %}Accès Refusé{% endblock %}

{% block body %}

<div class="container ">
    <div class="my-5">
        <h1>Accès Refusé</h1>
        <p>La page que vous cherchez n'a pas été trouvée.</p>
    </div>
</div>

{% endblock %}
